# Allow .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Allow README.md
!README.md

# Allow specific directories and their contents
!olympic-data-pipeline/***
!workspaces/***

# Except for JSON files and other potentially dangerous files globally
# (Note: This won't work as intended because the global ignore has higher precedence)
*.json
*.env
*.key

# Exclude folders
*.ipynb_checkpoints
*.ssh_tunnel
*gcs/google-cloud-sdk/***
*metadata.yaml